# ─── Variables d'environnement ───────────────────────────────────────────────
.env
.env.*
!.env.example

# ─── Node ────────────────────────────────────────────────────────────────────
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ─── Build ───────────────────────────────────────────────────────────────────
dist/
dist-ssr/

# ─── TypeScript ──────────────────────────────────────────────────────────────
*.tsbuildinfo

# ─── IDE ─────────────────────────────────────────────────────────────────────
.vscode/
.idea/
*.swp

# ─── OS ──────────────────────────────────────────────────────────────────────
.DS_Store
Thumbs.db